appdirs==1.4.0
blessings==1.6
bpython==0.15
Brian2==2.0b4
curtsies==0.2.6
cycler==0.9.0
decorator==4.0.6
dlib==18.17.100
dtcwt==0.10.1
enum34==1.1.2
funcsigs==0.4
greenlet==0.4.9
ipython==4.1.2
ipython-genutils==0.1.0
Jinja2==2.11.3
llvmlite==0.10.0
MarkupSafe==0.23
matplotlib==1.5.1
mpmath==0.19
networkx==1.11
nose==1.3.7
numba==0.25.0
numpy==1.10.4
pandas==0.17.1
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.6
Pillow==3.1.1
ptyprocess==0.5.1
pudb==2015.4.1
py==1.4.31
pycairo==1.10.0
Pygments==2.1.1
pylearn2==0.1.dev0
pyparsing==2.0.3
pytest==2.9.1
python-dateutil==2.4.2
pytools==2016.1
pytz==2015.7
PyYAML==3.11
requests==2.9.1
scikit-image==0.11.3
scikit-learn==0.17
scipy==0.17.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
stevedore==1.11.0
sympy==1.0
Theano==0.8.0
traitlets==4.2.1
urwid==1.3.1
virtualenv==14.0.6
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
wcwidth==0.1.6
